/* contatos */

.SingleOption {
    width: 100%;
    transition: 0.4s;
    box-shadow: 5px 5px 5px 5px #000000;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.imgContatos:hover {
    transform: scale(1.05);
    opacity: 0.85;
    transition: 0.4s;
}

.img2 {
    width: 80px;
    margin-left: 95%;
    top: 175px;
    position: relative;
}

.img2:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

.imgContatos {
    width: 50px;
    height: 50px;
}

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 300%;
}

h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 200%;
}

.mainmain {
    display: flex;
    margin-top: 5%;
    align-items: center center;
    text-align: center center;
}

.turtlesap {
    margin-left: 20%;
    transition: 0.4s;
}

.turtlesap:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition: 0.4s;
}

table {
    margin-top: 10%;
}

@media only screen and (max-width: 600px) {
    .turtlesap {
        width: 60%;
        margin-left: 20%;
        transition: 0.4s;
    }

    .turtlesap:hover {
        transform: scale(1.05);
        opacity: 0.9;
        transition: 0.4s;
    }
}